@page "/demandesignature/client"
@using Grs.BioRestock.Shared.Enums.DemandeSignature;
@using Grs.BioRestock.Transfer.DataModels.Demandesignature;



@if (!_loaded)
{
    <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
}
else
{
    <div>
        <h3>ListeDemandeSignature</h3>
        <br />
    </div>
    <MudTable Items="@allDemandes">
        <ToolBarContent>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@(() => AddDemande())">Ajouter</MudButton>
            <MudSpacer />
            <MudTextField @bind-Value="_searchString" Immediate="true" Placeholder="@Localizer["Rechercher des demande..."]" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0 mb-3" Style="width:100%; align-items:center;"></MudTextField>
        </ToolBarContent>
        <HeaderContent>
            <MudTh>Id</MudTh>
            <MudTh>Designation</MudTh>
            <MudTh>Nom client</MudTh>
            <MudTh>Data Etablissemet</MudTh>
            <MudTh>Statut Demande</MudTh>
            <MudTh>Fichier joint</MudTh>
            <MudTh Style="text-align: center">
                Action
            </MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Nr">@context.Id</MudTd>
            <MudTd DataLabel="Sign">@context.Designation</MudTd>
            <MudTd DataLabel="Name">@context.NomClient</MudTd>
            <MudTd DataLabel="Position">@context.DateEtablissement</MudTd>
            <MudTd DataLabel="Position">@context.demandeStatut</MudTd>
            <MudTd DataLabel="FichierJoint">
                <MudAlert Severity="Severity.Normal" Square="true" Dense="true">
                    @context.FileName
                    <MudIconButton Color="Color.Success"
                                   Icon="@Icons.Material.Filled.CloudUpload" Size="Size.Small"
                                   Link="@context.FileUrl" Target="_blank">
                    </MudIconButton>
                </MudAlert>
            </MudTd>
            <MudTd Style="text-align: right">
                <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Update" Color="Color.Primary" OnClick="@(()=>AnnulerDemande(@context.Id))" Style="margin:0 3px;">Cancel</MudButton>
                @if (context.demandeStatut != statutSigner)
                {
                    <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Delete" Color="Color.Error" OnClick="@(()=>SupprimerDemande(@context.Id))">Delete</MudButton>
                }
            </MudTd>
        </RowTemplate>
        <PagerContent>
            <MudTablePager />
        </PagerContent>
    </MudTable>
}

@code {

    [Inject] private IDemandeSignatureClient _demandeSignature { get; set; }

    private List<DemandeSingatureDto> allDemandes = new();
    private DemandeSingatureDto Demande = new();
    public DemandeSingatureDto ModelDemande { get; set; } = new();
    private string _searchString = "";

    private DemandeStatut statutSigner = DemandeStatut.Signé;

    public bool _loaded;
    private void searchString()
    {

    }

    protected override async Task OnInitializedAsync()
    {
        await GetDemande();
    }

    private async Task GetDemande()
    {
        try
        {
            var response = await _demandeSignature.GetAllAsync();
            if (response.Succeeded)
            {
                allDemandes = response.Data.ToList();
                _loaded = true;
            }
        }
        catch (Exception)
        {
            throw;
        }
    }

    private void AddDemande()
    {
        _navigationManager.NavigateTo($"/demandesignature/ajouter");
    }

    private bool Search(DemandeSingatureDto demande)
    {
        if (string.IsNullOrWhiteSpace(_searchString)) return true;
        if (demande.Designation?.Contains(_searchString, StringComparison.OrdinalIgnoreCase) == true)
        {
            return true;
        }
        if (demande.NomClient?.Contains(_searchString, StringComparison.OrdinalIgnoreCase) == true)
        {
            return true;
        }
        return false;
    }

    public async Task SupprimerDemande(int demandeSignatureId)
    {
        var response = await _demandeSignature.DeleteAsync(demandeSignatureId);
        if (response == null)
        {
            _snackBar.Add(response.Messages[0], Severity.Success);
            await GetDemande();
        }
        else
        {
            foreach (var message in response.Messages)
            {
                _snackBar.Add(message, Severity.Error);
            }
        }
    }

    public async Task AnnulerDemande(int demandeSignatureId)
    {
        var response = await _demandeSignature.AnnuleAsync(demandeSignatureId);
        if (response == null)
        {
            _snackBar.Add(response.Messages[0], Severity.Success);
        }
        else
        {
            foreach (var message in response.Messages)
            {
                _snackBar.Add(message, Severity.Error);
            }
        }
    }

}

